:root{
    --colorAzul:#1a73e8;
    --colorAzulHover:#0E4EB5;
    --colorAzulTranparente:rgba(26, 115, 232, 0.664);
    --colorNegro:#202124;
    --colorBlanco:#ffffff;
    --colorClaro:#ededed;
    --colorGris:#b4b4b4;
    --colorRojo:#EA4335;
    --colorAmarillo:#FBBC05;
    --colorVerde:#34A853;
    --colorAzul2:#4285F4;

    --fuentePrincipal:Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
html{
    height: 100%;
    margin: 0;
}
body{
    font-family: var(--fuentePrincipal);
    /*    color: var(--colorAzul);*/
    color:var(--colorNegro);
    width:100vw;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/*section img{
    float: right; /*para que los textos floten alrededor
}*/
header{
    /*overflow: hidden;para controlar los elementos que están flotando*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header nav{
    /*    margin-right: 30px;
        padding: 10px 0;*/
}
.proyecto{
    text-align: center;
    letter-spacing: -1px;
}
.proyecto span{
    font-size: 16px;
    font-weight: 800;
}
/*.azul{
    color: var(--colorAzul2);
}
.rojo{
    color:var(--colorRojo);
}
.verde{
    color: var(--colorVerde);
}
.amarillo{
    color: var(--colorAmarillo);
}*/
.letras span:nth-child(6n+1) { color: var(--colorAzul2); }
.letras span:nth-child(6n+2) { color: var(--colorRojo) ;}
.letras span:nth-child(6n+3) { color: var(--colorAmarillo); }
.letras span:nth-child(6n+4) { color: var(--colorAzul2); }
.letras span:nth-child(6n+5) { color: var(--colorVerde); }
.letras span:nth-child(6n+6) { color: var(--colorRojo); }
h1{
    color:var(--colorAzul);
}
.titulo{
    padding-top: 100px;
   font-size: 36px;
   letter-spacing: -1px;
   font-weight: 700;
}
.tituloCentral{
    font-size: 36px;
    letter-spacing: -1px;
    font-weight: 700;
}
nav button{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;

}

.botonSession{
    background-color: var(--colorAzul);
    color: var(--colorBlanco);
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 100px;
    border: var(--colorAzul);
}
.botonSession:hover{
    /**/
    color:white;
    background-color: var(--colorAzulHover);
    box-shadow: 0 0 10px var(--colorAzulTranparente);
}
.idioma{
    background: transparent;
}
/*Estilos contenido pricipal.. main*/
main{
    /*    width: 100vw;
        height: 100%;
        position: relative;*/
    /*    inset: 0;es igual que poner top0, bottom0, left0,right0*/
    /*    margin: auto;*/
    text-align: center;
    flex: 1;

}



/*Estilo de los botones*/
.botones{
    margin-top: 30px;
}
.botones button{
    all: unset;/*Así se quitan lo que los botones tengan por defecto*/
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--colorClaro);
    cursor: pointer;/*Para que el cursor sea una mano*/
    border-radius: 5px ;
}
/*Estilos del footer*/
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--colorClaro);
    width: 100%;
    padding: 15px 0;
}
footer .pais{
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--colorGris);
    color: #202124;
    display: flex;
    justify-content: space-between;
}
.bxl-github{
    font-size: 2rem;
    border-radius: 50%;
    margin-right: 38px;
    color: var(--colorClaro);
    background-color: var(--colorAzul);  
}
.footerInfo{
    padding: 0 20px;
    overflow: hidden;
    text-align: center;
    display: flex;   
}
.info{
    width: 95%;
}
.google{
    width: 5%;
    font-size: 1.7rem;
    padding-top: 5px;
    
}








/**{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
:root{
    --bgColor:#f7f7f7;
    --headerColor:#C0C0C0;
    --secondColor:#eaeaea;
    --textColor:#3f3844;
    --mainColor:#e354f3;
    --secondaryColor:#17b6f9;
    --otherColor:#5d6c83;
    --colorTabla:#8cb6f5;
  
}
html{
   height: 100%;
  margin: 0;
}
header{
  background-color: var(--headerColor);
  margin: 0;
  padding: 1rem;
  color:blue;
}
body{
  background-color: var(--secondColor);
  margin: 0;
   height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
main{
  width: 80%;
  flex: 1;
}
h1 {
  text-align: center;
}
.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;  
}
h2{
    text-align:  center;
    padding: 1rem;
}
h3{
    text-align: center;
    padding: 0.5rem;
    color: blue;
}
h4{
    font-size: 48px;
    text-align: center;
}

.proyecto{
  width: 70%;
  border: 2px solid var(--colorTabla);
  text-align: center;
  margin: 15px;
  background-color: var(--colorTabla);
  font-weight: 900;
  padding: 5px;
  border-radius: 10px;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    margin-bottom: 15px;
}

th{
    border-bottom:  2px solid black;
    border-right: 2px solid black;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: var(--colorTabla);
    font-size: 20px;
}

.iconos {
    text-align: center;
}
td{
    border: 1px solid black;
    
}
.texto{
   padding-left: 0.5rem; 
   font-size: 18px;
   padding-right: 0.5rem;
}
.span{
    font-size: 12px;
}
.span2{
    font-style: italic;
}

a {
  text-decoration: none;
  height: 10rem;
  padding: 0 auto;
  
}
i{
    font-size: 2rem;
    color: var(--colorTabla);
}
footer{
    background-color: var(--secondColor);
    padding:0 ;
    margin: 0;
    text-align: center;
    bottom: 0;
    font-size: 18px;
    background-color: var(--headerColor);
    display: flex;
}
footer a{
  font-size: 18px;
  color: blue;
}
address{
    font-size: 15px;
}
.bxl-github{
    font-size: 2rem;
    border-radius: 50%;
    padding: .5rem;
    margin-bottom: 1rem;
    color: var(--textColor);
    background-color: var(--colorTabla);  
}
.footerContent{
    display: flex;
    justify-content: space-around;
}
.social-media{
    margin-right: 20px;
}
.copyright{
    margin-right: 20px;
}
button{
   right: 0;
}*/



/*
.buscador-bar .label-buscador{
    display: block;
    border: 1px solid var(--colorGris);
    padding: 10px 15px;
    border-radius: 100px;
    width: 584px;
    overflow-y: hidden;
}
.buscador-bar .label-buscador:hover{
    box-shadow: 0 0 3px var(--colorGris);
}
.buscador-bar .label-buscador img{
    vertical-align: middle;
}
.label-buscador .icon-buscar ,
.label-buscador input{
    float: left;
    margin-right: 10px;
    vertical-align: middle;
}

.label-buscador div{
    float: right;para que el div esté en la parte derecha
}
.label-buscador div a{
    display: inline-block;
}
.label-buscador input{
    font-size: 16px;
    width: 80%;
    border: none
}
.label-buscador input:focus{
    outline: none;
}*/
